/* ---------------------------------------------------------------------TESTING CODE HERE--------------------------------------------------------------------- */

html {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	padding:0;
	margin:0;
	background:linear-gradient(45deg, #333, #111);
	background-size:100%;
	color:white;
	font-family:monospace;
	font-size:24px;
	text-align:center;
	padding:20px;  
  }
  
  #cage {
	padding:25px;
	max-width:calc(95px * 5);
	font-size:0;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
  }
  
  input {
	position:absolute;
	top:-300px;
  }
  
  label {
	border-radius:5px;
	border:1px solid #444;
	padding:10px 15px;
	font-size:14px;
	transition:.75s;
	cursor:pointer;
	user-select:none;
  }
  
  .card {
	width:75px;
	height:65px;
	padding:15px 10px;
	background:#333;
	border-radius:5px;
	transition:.5s;
	font-size:24px;
	color:transparent;
	line-height:65px;
	margin:10px;
	opacity:1;  
	user-select:none;
  }
  
  .card:hover {
	transform:scale(2);
	color:white;
	text-shadow:1px 1px black;
	box-shadow:0 0 15px black;
  }
  
  input:checked + label {
	background:tomato;
	border-color:tomato;
  }
  
  #cat:checked ~ div div[data-type*="cat"], 
  #dog:checked ~ div div[data-type*="dog"],
  #fish:checked ~ div div[data-type*="fish"],
  #reset:checked ~ div div {
	order:-1;
	opacity:1;
  }
  
  input:checked ~ div div {
	opacity:.25;
  }
  
  div[data-type*="cat"] {
	background:url('https://img.tutpad.com/tut/0/0/46/15-black-cat-character.jpg?size=%3C700x&dpr=2');
	background-size:100%;
  }
  div[data-type*="dog"] {
	background:url('https://dog-milk.com/images/2017/02/Jenny-Johns-modern-dog-geometric-illustration-1.jpg');
	background-size:100%;
  }
  div[data-type*="fish"] {
	background:url('http://www.myiconfinder.com/uploads/iconsets/79703e302ff984d44d035b7c2c5b3726-fish.png');
	background-size:75%;
	background-position:15px 10px;
	background-repeat:no-repeat;
	background-color:dodgerblue;
  }

/* ---------------------------------------------------------------------TESTING CODE HERE--------------------------------------------------------------------- */
