/* Custom fonts */

@font-face {
  font-family: "Bell";
  src: url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.eot");
  src: url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.svg#Bell")
      format("svg");
}


.dropbtn {
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 9px;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


body{
  background-color: aqua;
}

a:link { text-decoration: none; }


#navbar-main-logo {
  /* max-width: 18%; */
  width:75px;
  height:75px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 50%;
}

.navbar {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  background-color: #333;
  width: 100%;
  border-bottom-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  box-shadow: 0 4px 2px -2px greenyellow;
}



.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

/* .form-control{
  right:10%;
  box-sizing: content-box;
} */

.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 5vw;
  font-size: 17px;

}

#Layer_1{
  margin-top: 10vw;
  max-width: 40%;
  margin-left: 5%;
}

/* ----------------------------------------For mobile---------------------------------------- */

@media only screen and (max-width: 768px){

}