/* Custom fonts */

@font-face {
  font-family: "Bell";
  src: url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.eot");
  src: url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.svg#Bell")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

html {
  font-family: "Oswald", sans-serif;
}

.dropbtn {
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: #e0f1f2;
}

a:link {
  text-decoration: none;
  color: black;
}

#navbar-main-logo {
  /* max-width: 18%; */
  width: 75px;
  height: 75px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 50%;
}

.navbar {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  background-color: #333;
  width: 100%;
  border-bottom-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  box-shadow: 0 10px 20px -2px #7c7304;
}

.nav-item .nav-link {
  font-family: "Droid Sans Mono";
  color: antiquewhite;
}

.nav-link:hover {
  font-family: "Droid Sans Mono";
  color: antiquewhite;
  box-shadow: 0 0px 20px -2px yellow, 0 0px 8px -2px yellow inset;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, yellow, green);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

/* .form-control{
  right:10%;
  box-sizing: content-box;
} */

.navbar input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 5vw;
  font-size: 17px;
}

#main-frame {
  /* margin-top: 10vw; */
  width: 46vw;
  margin-left: 5%;
}


@keyframes s6 {to{transform: rotate(1turn)}}

.home-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vw;
}

.portfolio-text {
  font-weight: normal;
  font-family: Bell;
  /* transform: rotate(90deg); */
}

.main-intro {
  font-family: "Droid Sans Mono";
}

.main-intro-content {
  font-family: "Droid Sans Mono";
}

.aboutMe-sideNav {
  position: fixed;
  margin-left: 7%;
  padding-left: 1%;
  top: 20vw;
  border-left: solid;
  box-shadow: 0 0 10px #2187e7b3;
}

/* about me */
.vertical {
  border-left: 6px double black;
  padding-top: 10%;
  height: 100vw;
  left: 20%;
  position: fixed;
  z-index: -1;
  top: 0%;
}

.aboutMe-mainBorder {
  max-width: 100vw;
  display: flex;
}

.aboutMe-aboutMe-main {
  margin-top: 4vw;
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
}

.aboutMe-aboutMe-left {
  max-width: 50vw;
  margin-left: 22%;
}

#myDisplayPhoto {
  max-width: 80%;
  margin-left: 2vw;
  margin-right: 2vw;
  border: 2px groove greenyellow;
  border-radius: 20px;
}

.aboutMe-technicalSkills-main {
  justify-content: space-between;
  margin-top: 2vw;
  max-width: 62vw;
  margin-left: 27%;
  background-color: #fffdd6;
  border: 5px groove #023047;
  border-radius: 20px;
}

#aboutMe-TechnicalSkillz {
  text-decoration: underline;
}

#borderLine-aboutMe {
  max-width: 70vw;
  margin-left: 23%;
}

.codingSkills {
  display: flex;
}

.techSKillz-Container-left {
  width: 30vw;
}

.techSKillz-Container-right {
  width: 30vw;
}

.techSkillz {
  /*style the li tag*/
  list-style-type: none;
  font-family: "Bell";
}

.techSkillz-header{
	font-size: 16px;
}

.skills {
  margin: 5vw auto;
}

.skills li {
  /*set margin of li*/
  margin: 20px 0;
}

.bar {
  /*style the bar*/
  background-color: #353b48;
  display: block;
  height: 5px;
  width: 20vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.techSKillz-Container {
  display: flex;
  justify-content: space-evenly;
}

.bar span {
  /*style the span tag*/
  height: 2px;
  float: left;
  background-color: #2187e7;
}

.html {
  /*set skills and animation of html*/
  width: 80%;
  animation: html 2s;
}

.css {
  /*set skills and animation of css*/
  width: 93%;
  animation: css 2s;
}

.javascript {
  /*set skills and animation of javascript*/
  width: 50%;
  animation: javascript 2s;
}

.jquery {
  /*set skills and animation of jquery*/
  width: 30%;
  animation: jquery 2s;
}

.php {
  /*set skills and animation of php*/
  width: 60%;
  animation: php 2s;
}

.sql {
  /*set skills and animation of sql*/
  width: 60%;
  animation: sql 2s;
}

.java {
  /*set skills and animation of java*/
  width: 60%;
  animation: java 2s;
}

.python {
  /*set skills and animation of python*/
  width: 60%;
  animation: python 2s;
}

.cPlusPlus {
  /*set skills and animation of c++*/
  width: 60%;
  animation: cPlusPlus 2s;
}

.cSharp {
  /*set skills and animation of c#*/
  width: 60%;
  animation: cSharp 2s;
}

/* -------------------------------------------------------right------------------------------------------------------- */

.xd {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.illustrator {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.photoshop {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.animate {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.premier {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.excel {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.powerpoint {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.word {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.tableau {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.uipath {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.inventor {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.davinci {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

@keyframes html {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes css {
  /*animate css skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes javascript {
  /*animate javascript skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes jquery {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}
@keyframes php {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes sql {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes java {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes python {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes cPlusPlus {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes cSharp {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

/* -------------------------------------------------------right------------------------------------------------------- */
@keyframes xd {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes illustrator {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes photoshop {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes animate {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes premier {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes excel {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes powerpoint {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes word {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes tableau {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes uipath {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes inventor {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes davinci {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.aboutMe-softSkillz-main {
	justify-content: space-between;
	margin-top: 2vw;
	max-width: 72vw;
	margin-left: 22%;
  }




/* ------------------------------------------------------Filter With Animation---------------------------------------------------- */
.schoolwork_pages{
  background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100%;
  width: 100%;
  z-index: -1;
}


.gallery {
  padding: 2em;
  min-height: 120vh;
  margin-left: 8vw;
  margin-right: 8vw;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.buttons button {
  margin: 1em;
  padding: 0.7em 1.5em;
  font-size: 1.1em;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover,
.buttons .btn-clicked {
  background-color: black;
  color: aliceblue;
}

.images {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

/* .images-container-schoolworks {
  display: flex;
  width: min-content;
} */

.images img {
  width: 200px;
  height: 200px;
  margin: 1em;
  border-radius: 0.2em;
  transition: 0.6s;
  backface-visibility: hidden;
}

.cardWork-container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.hideMINDS {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hideBPA {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

  .hidenameLogo {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }


  .schoolwork_pages .card {
    overflow: visible;
    width: 250px;
    height: 250px;
  }
  
  .schoolwork_pages .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .schoolwork_pages .front,.schoolwork_pages .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .schoolwork_pages .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .schoolwork_pages .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #66a3ff, #7366ff, #66f7ff, #72fff1, transparent);
    animation: rotation_fcswp 5000ms infinite linear;
  }
  
  .schoolwork_pages .back-content {
    position: absolute;
    width: 98%;
    height: 98%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .schoolwork_pages .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_fcswp {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .schoolwork_pages .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .schoolwork_pages .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .schoolwork_pages .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .schoolwork_pages .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 200%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .schoolwork_pages .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .schoolwork_pages .title p {
    width: 50%;
  }
  
  .schoolwork_pages .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .schoolwork_pages .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .schoolwork_pages .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  .schoolwork_pages #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  .schoolwork_pages #right {
    background-color: #c52a92;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }




  .schoolwork_pages .card button {
    margin-top: 5%;
    padding: 8px 20px;
    background-color: #000;
    border: none;
    font-size: 10px;
    position: relative;
    /* overflow: hidden; */
    transition: 500ms;
  }
  
  .schoolwork_pages .card button span {
    color: gray;
    position: relative;
    transition: 500ms;
    transition-delay: 500ms;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
  }
  
  .schoolwork_pages .card button:before {
    /* content: ''; */
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 500ms;
    transition-delay: 500ms;
    /* background-color: red;
    box-shadow: 0 0 10px red,
     0 0 30px red, 
     0 0 50px red; */
  }
  
  .schoolwork_pages .card button div {
    transition: 500ms;
    position: absolute;
    background-color: red;
    box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
  }
  
  .schoolwork_pages .card button .top {
    width: 15px;
    height: 2px;
    top: 0;
    left: 0;
  }
  
  .schoolwork_pages .card button .bottom {
    width: 15px;
    height: 2px;
    bottom: 0;
    right: 0;
  }
  
  .schoolwork_pages .card button .left {
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
  }
  
  .schoolwork_pages .card button .right {
    width: 2px;
    height: 15px;
    bottom: 0;
    right: 0;
  }
  
  .schoolwork_pages .card button:hover {
    color: greenyellow;
  }
  
  .schoolwork_pages .card button:hover span {
    color: greenyellow;
  }
  
  .schoolwork_pages .card button:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .schoolwork_pages .card button:hover .top, 
  .schoolwork_pages .card button:hover .bottom {
    width: 100%;
  }
  
  .schoolwork_pages .card button:hover .left,
  .schoolwork_pages .card button:hover .right {
    height: 100%;
  }


/* .cardWork-container img:hover{
	filter: blur(3px) brightness(0.5);
	
  }
  
.cardWork-container:hover .hideMINDS {
	opacity: 1;
	padding: 0;
  }

.cardWork-container:hover .hideBPA {
	opacity: 1;
	padding: 0;
  }

.cardWork-container:hover .hidenameLogo {
	opacity: 1;
	padding: 0;
  } */

/* Javascript classes */

.images .card-expand {
  width: 250px;
  height: 250px;
  margin: 1em;
}
.images .card-shrink {
  width: 0em;
  height: 0em;
  margin: -1em;
}

.images .text-schwork-expand{
	opacity: 1;
}

.images .text-schwork-shrink{
	opacity: 0;
}


/* -------------------------------------contact us page ------------------------------------------------------------*/
#videoBg-contactUs {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
  }

  .contactUs-main-container{
    display: flex;
    justify-content: center;
  }
  
  .contactUs-banner {
    margin-top: 5%;
    display: flex;
    height: fit-content;
    position: relative;
    margin-bottom: 5vw;
    width: 80vw;
    max-width: 100%;
    background-color: aliceblue;
    border-radius: 30px;
    justify-content: space-evenly;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    }
  
  
  #white-segreator{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #ddd;
    z-index: -1;
  }
  
  .contactUs-Seperator{
    border-left: 5px ridge black;
    box-shadow: 0px 0px 10px 4px blue;
    align-items: center;
    max-width: 0;
      left: 20%;
  }
  .forForm{
    margin-top: 4%;
  }
  
    /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
  
    .contactUs-right-container{
  display: flex;
  justify-content: center;
  max-width: 120%;
    }
  
    .newContact{
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 5vw;
    }
  
    #contactPoint-boy{
      width:200%;
      margin-top: 5vw;
    }
  
    .icon-boxx{
      border : 2px solid #ccc; 
      border-radius: 50px;
    }
  
  
  
  
  .contact-box {
      position: relative;
      top: 50%;
      left: 40%;
      width: 50vw;
      padding: 40px;
      /* margin: 10px auto; */
      transform: translate(-50%, -55%);
      background: aliceblue;
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
    }
    
    .contact-box p:first-child {
      margin: 0 0 1vw;
      padding: 0;
      color: black;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
    
    .contact-box .field-box {
      position: relative;
    }
    
    .contact-box .field-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: black;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      background: transparent;
    }
    
    .contact-box .field-box label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #00001a;
      pointer-events: none;
      transition: .5s;
    }
    
    .contact-box .field-box input:focus ~ label,
    .contact-box .field-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #00001a;
      font-size: 12px;
    }
    
    .contact-box form a {
      position: relative;
      display: inline-block;
      left:79%;
      padding: 10px 20px;
      font-weight: bold;
      color: #00001a;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      letter-spacing: 3px
    }
    
    .contact-box a:hover {
      background: #272727;
      color: #fff;
      border-radius: 5px;
    }
    
    .contact-box a span {
      position: absolute;
      display: block;
    }
    
    .contact-box a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background: linear-gradient(90deg, transparent, red);
      animation: btn-anim1 1.5s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
    
    .contact-box a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 4px;
      height: 100%;
      border-radius: 4px;
      background: linear-gradient(180deg, transparent, red);
      animation: btn-anim2 1.5s linear infinite;
      animation-delay: .5s
    }
    
    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
    
      50%,100% {
        top: 100%;
      }
    }
    
    .contact-box a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background: linear-gradient(270deg, transparent, red);
      animation: btn-anim3 1.5s linear infinite;
      animation-delay: .75s
    }
    
    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
    
      50%,100% {
        right: 100%;
      }
    }
    
    .contact-box a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 4px;
      height: 100%;
      border-radius: 4px;
      background: linear-gradient(360deg, transparent, red);
      animation: btn-anim4 1.5s linear infinite;
      animation-delay: 1.125s
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
    
      50%,100% {
        bottom: 100%;
      }
    }

    .wrapper {
      display: inline-flex;
      list-style: none;
      width: 100%;
      font-family: "Poppins", sans-serif;
      justify-content: center;
    }
    
    .wrapper .icon {
      position: relative;
      background: #fff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      font-size: 14px;
      background: #fff;
      color: #fff;
      padding: 5px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #fff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background: #1877F2;
      color: #fff;
    }
    
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background: #0072B1;
      color: #fff;
    }
    
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background: #E1306C;
      color: #fff;
    }

    .wrapper .telegram:hover,
    .wrapper .telegram:hover .tooltip,
    .wrapper .telegram:hover .tooltip::before {
      background: #2AABEE;
      color: #fff;
    }

    .wrapper .gmail:hover,
    .wrapper .gmail:hover .tooltip,
    .wrapper .gmail:hover .tooltip::before {
      background: #c71610;
      color: #fff;
    }
    
    



  .works-main-container{
    font-family: "Montserrat",sans-serif;
    height: 100vh;
    display: flex;
    top: 0;

  }

  .works-main-container section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04AA6D;
    flex: 1;
  }













  .MINDS_pages{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }

  .MINDS-main-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 4%;
	margin-left: 16vw;
	margin-right: 16vw;
  border : 4px solid #aaa; 
  background-color: antiquewhite;
  border-radius: 10px;
  }

  .MINDS-main-container-left{
    margin: 2vw;
    padding: 1vw;

  }

  .MINDS-main-container-right{
    margin: 2vw;
    padding: 1vw;

  }


  .billPlease_pages{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }

  .billPlease-main-container{
	display: flex;
	/* justify-content: space-evenly; */
	margin-top: 4%;
	margin-left: 16vw;
	margin-right: 16vw;
  border : 4px solid #aaa; 
  background-color: antiquewhite;
  border-radius: 10px;
  }

  .billPlease-main-container-left{
    max-width: 16vw;
    margin: 2vw;
    padding: 1vw;
    align-items: center;
    justify-content: center;
  }

  #billPlease1IMG{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 2vw;
  }

  #billPlease2IMG{
    width: 100%;
    border-radius: 30px;
  }

  .billPlease-main-container-right{
    margin: 2vw;
    padding: 1vw;

  }

.billPlease_pages  button {
    position: relative;
    color: #0c5f5f;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 3px;
    width:30vw;
    overflow: hidden;
    padding: 5% 10%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: 0.6s ease;
  }
  
.billPlease_pages  button:hover {
    color: #010406;
    background-color: #1BFFFF;
    transition-delay: 0.5s;
    box-shadow: 0 0 10px #2e5c5c, 0 0 40px #2e5c5c, 0 0 80px #2e5c5c;
  }
  
.billPlease_pages  button:hover span:nth-child(1) {
    left: 100%;
  }
  
.billPlease_pages  button:hover span:nth-child(2) {
    top: 100%;
  }
  
.billPlease_pages  button:hover span:nth-child(3) {
    right: 100%;
  }
  
.billPlease_pages  button:hover span:nth-child(4) {
    bottom: 100%;
  }
  
.billPlease_pages  button span {
    display: block;
    position: absolute;
    transition: 0.6s ease;
  }
  
.billPlease_pages  button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #062222);
    transition-delay: 0.25s;
  }
  
.billPlease_pages  button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #062222);
  }
  
.billPlease_pages  button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #062222);
    transition-delay: 0.25s;
  }
  
.billPlease_pages  button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(0, transparent, #062222);
  }

  .exerciseTracker{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }

.exetracker-main-container{
  margin-left: 16vw;
  margin-right: 16vw;
}

.exeTracker-pages{
  max-width: 100%;
}
.exerciseTracker .carousel-control-prev-icon{
  background-color: #023047;
  border-radius: 50px;
  margin-right: 20%;
}

.exerciseTracker .carousel-control-next-icon{
  background-color: #023047;
  border-radius: 50px;
  margin-left: 20%;
}

.execiseTracker-description{
  margin-top: 2vw;
  margin-right: 16vw;
  margin-left: 16vw;
}


.PHPHOTEMLS-main-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 4%;
	margin-left: 16vw;
	margin-right: 16vw;
  border : 4px solid #aaa; 
  background-color: antiquewhite;
  border-radius: 10px;
  }

  .PHPHOTEMLS-main-container-left{
    margin: 2vw;
    padding: 1vw;

  }

  .PHPHOTEMLS-main-container-right{
    margin: 2vw;
    padding: 1vw;

  }

  .phpHotels-pages{
    max-width: 100%;
  }

  .phpHotels .carousel-control-prev-icon{
    background-color: #023047;
    border-radius: 50px;
    margin-right: 20%;
  }
  
  .phpHotels .carousel-control-next-icon{
    background-color: #023047;
    border-radius: 50px;
    margin-left: 20%;
  }

  .phpHotels{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }




.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: 0px;
  text-align: center;
  cursor: pointer;
  background-color: #023047;
  color: white;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  opacity: 1;
}


/* ----------------------------------------For mobile---------------------------------------- */

@media only screen and (max-width: 768px) {
}

/* ------------------------------------------------------Filter With Animation Mobile---------------------------------------------------- */
/* 
@media screen and (max-width: 1439px) {
  .images {
    max-width: 896px;
  }
} */
@media screen and (max-width: 986px) {
  .images {
    align-items: center;
    flex-direction: column;
  }
  .images img {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .buttons button {
    width: 100%;
    display: block;
  }
  .images .card-expand,
  .images img {
    width: 100%;
  }
}
