/* Custom fonts */

@font-face {
  font-family: "Bell";
  src: url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.eot");
  src: url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e76b107754ce11ff3ba24dd52e357e5b.svg#Bell")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

html {
  font-family: "Oswald", sans-serif;
}

.dropbtn {
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: #e0f1f2;
}

a:link {
  text-decoration: none;
  color: black;
}

#navbar-main-logo {
  /* max-width: 18%; */
  width: 75px;
  height: 75px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 50%;
}

.navbar {
  display: inline-block;
  position: relative;
  /* overflow: hidden; */
  background-color: #333;
  width: 100%;
  border-bottom-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  box-shadow: 0 10px 20px -2px #7c7304;
}

.nav-item .nav-link {
  font-family: "Droid Sans Mono";
  color: antiquewhite;
}

.nav-link:hover {
  font-family: "Droid Sans Mono";
  color: antiquewhite;
  box-shadow: 0 0px 20px -2px yellow, 0 0px 8px -2px yellow inset;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, yellow, green);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

/* .form-control{
  right:10%;
  box-sizing: content-box;
} */

.navbar input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 5vw;
  font-size: 17px;
}

#main-frame {
  /* margin-top: 10vw; */
  width: 46vw;
  margin-left: 5%;
}

.home-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vw;
}

.portfolio-text {
  font-weight: normal;
  font-family: Bell;
  /* transform: rotate(90deg); */
}

.main-intro {
  font-family: "Droid Sans Mono";
}

.main-intro-content {
  font-family: "Droid Sans Mono";
}

.aboutMe-sideNav {
  position: fixed;
  margin-left: 7%;
  padding-left: 1%;
  top: 20vw;
  border-left: solid;
  box-shadow: 0 0 10px #2187e7b3;
}

/* about me */
.vertical {
  border-left: 6px double black;
  padding-top: 10%;
  height: 100vw;
  left: 20%;
  position: fixed;
  z-index: -1;
  top: 0%;
}

.aboutMe-mainBorder {
  max-width: 100vw;
  display: flex;
}

.aboutMe-aboutMe-main {
  margin-top: 4vw;
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
}

.aboutMe-aboutMe-left {
  max-width: 50vw;
  margin-left: 22%;
}

#myDisplayPhoto {
  max-width: 80%;
  margin-left: 2vw;
  margin-right: 2vw;
  border: 2px groove greenyellow;
  border-radius: 20px;
}

.aboutMe-technicalSkills-main {
  justify-content: space-between;
  margin-top: 2vw;
  max-width: 62vw;
  margin-left: 27%;
  background-color: #fffdd6;
  border: 5px groove #023047;
  border-radius: 20px;
}

#aboutMe-TechnicalSkillz {
  text-decoration: underline;
}

#borderLine-aboutMe {
  max-width: 70vw;
  margin-left: 23%;
}

.codingSkills {
  display: flex;
}

.techSKillz-Container-left {
  width: 30vw;
}

.techSKillz-Container-right {
  width: 30vw;
}

.techSkillz {
  /*style the li tag*/
  list-style-type: none;
  font-family: "Bell";
}

.techSkillz-header{
	font-size: 16px;
}

.skills {
  margin: 5vw auto;
}

.skills li {
  /*set margin of li*/
  margin: 20px 0;
}

.bar {
  /*style the bar*/
  background-color: #353b48;
  display: block;
  height: 5px;
  width: 20vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.techSKillz-Container {
  display: flex;
  justify-content: space-evenly;
}

.bar span {
  /*style the span tag*/
  height: 2px;
  float: left;
  background-color: #2187e7;
}

.html {
  /*set skills and animation of html*/
  width: 80%;
  animation: html 2s;
}

.css {
  /*set skills and animation of css*/
  width: 93%;
  animation: css 2s;
}

.javascript {
  /*set skills and animation of javascript*/
  width: 50%;
  animation: javascript 2s;
}

.jquery {
  /*set skills and animation of jquery*/
  width: 30%;
  animation: jquery 2s;
}

.php {
  /*set skills and animation of php*/
  width: 60%;
  animation: php 2s;
}

.sql {
  /*set skills and animation of sql*/
  width: 60%;
  animation: sql 2s;
}

.java {
  /*set skills and animation of java*/
  width: 60%;
  animation: java 2s;
}

.python {
  /*set skills and animation of python*/
  width: 60%;
  animation: python 2s;
}

.cPlusPlus {
  /*set skills and animation of c++*/
  width: 60%;
  animation: cPlusPlus 2s;
}

.cSharp {
  /*set skills and animation of c#*/
  width: 60%;
  animation: cSharp 2s;
}

/* -------------------------------------------------------right------------------------------------------------------- */

.xd {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.illustrator {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.photoshop {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.animate {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.premier {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.excel {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.powerpoint {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.word {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.tableau {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.uipath {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.inventor {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

.davinci {
  /*set skills and animation of xd*/
  width: 90%;
  animation: xd 2s;
}

@keyframes html {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes css {
  /*animate css skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes javascript {
  /*animate javascript skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes jquery {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}
@keyframes php {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes sql {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes java {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes python {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes cPlusPlus {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}
@keyframes cSharp {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

/* -------------------------------------------------------right------------------------------------------------------- */
@keyframes xd {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes illustrator {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes photoshop {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes animate {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes premier {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes excel {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes powerpoint {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes word {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes tableau {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes uipath {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes inventor {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes davinci {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.aboutMe-softSkillz-main {
	justify-content: space-between;
	margin-top: 2vw;
	max-width: 72vw;
	margin-left: 22%;
  }




/* ------------------------------------------------------Filter With Animation---------------------------------------------------- */
.gallery {
  padding: 2em;
  min-height: 120vh;
  margin-left: 8vw;
  margin-right: 8vw;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.buttons button {
  margin: 1em;
  padding: 0.7em 1.5em;
  font-size: 1.1em;
  border: none;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover,
.buttons .btn-clicked {
  background-color: black;
  color: aliceblue;
}

.images {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.images-container-schoolworks {
  display: flex;
  width: min-content;
}

.images img {
  width: 200px;
  height: 200px;
  margin: 1em;
  border-radius: 0.2em;
  transition: 0.6s;
  backface-visibility: hidden;
}

.cardWork-container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.hideMINDS {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hideBPA {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

  .hidenameLogo {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }


.cardWork-container img:hover{
	filter: blur(3px) brightness(0.5);
	
  }
  
.cardWork-container:hover .hideMINDS {
	opacity: 1;
	padding: 0;
  }

.cardWork-container:hover .hideBPA {
	opacity: 1;
	padding: 0;
  }

.cardWork-container:hover .hidenameLogo {
	opacity: 1;
	padding: 0;
  }

/* Javascript classes */

.images .img-expand {
  width: 200px;
  height: 200px;
  margin: 1em;
}
.images .img-shrink {
  width: 0em;
  height: 0em;
  margin: -1em;
}

.images .text-schwork-expand{
	opacity: 1;
}

.images .text-schwork-shrink{
	opacity: 0;
}


/* -------------------------------------contact us page ------------------------------------------------------------*/
#videoBg-contactUs {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
  }

.contactUs-main-container{
	display: flex;
	justify-content: center;
}

.contactUs-banner {
	margin-top: 5%;
	display: flex;
	height: fit-content;
	position: relative;
	margin-bottom: 5vw;
	width: 80vw;
	max-width: 100%;
	background-color: aliceblue;
	border-radius: 30px;
	justify-content: space-evenly;
  }

#white-segreator{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30%;
	background-color: #ddd;
	z-index: -1;
}

.contactUs-Seperator{
	border-left: 5px ridge black;
	box-shadow: 0px 0px 10px 4px blue;
	align-items: center;
	max-width: 0;
  	left: 20%;
}
.forForm{
	margin-top: 4%;
}

/* Style inputs with type="text", select elements and textareas */
.forForm input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 8px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
.forForm input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
.forForm input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }

  .contactUs-right-container{
display: flex;
justify-content: center;
max-width: 120%;
  }



  .forForm{
	margin-left: 2vw;
	margin-right: 2vw;
  }



  .newContact{
	align-items: center;
  justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 5vw;
  }

  #contactPoint-boy{
    width:200%;
    margin-top: 5vw;
  }

  .icon-boxx{
    border : 2px solid #ccc; 
    border-radius: 50px;
  }



  .works-main-container{
    font-family: "Montserrat",sans-serif;
    height: 100vh;
    display: flex;
    top: 0;

  }

  .works-main-container section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04AA6D;
    flex: 1;
  }













  .MINDS_pages{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }

  .MINDS-main-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 4%;
	margin-left: 16vw;
	margin-right: 16vw;
  border : 4px solid #aaa; 
  background-color: antiquewhite;
  border-radius: 10px;
  }

  .MINDS-main-container-left{
    margin: 2vw;
    padding: 1vw;

  }

  .MINDS-main-container-right{
    margin: 2vw;
    padding: 1vw;

  }


  .billPlease_pages{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }

  .billPlease-main-container{
	display: flex;
	/* justify-content: space-evenly; */
	margin-top: 4%;
	margin-left: 16vw;
	margin-right: 16vw;
  border : 4px solid #aaa; 
  background-color: antiquewhite;
  border-radius: 10px;
  }

  .billPlease-main-container-left{
    max-width: 16vw;
    margin: 2vw;
    padding: 1vw;
    align-items: center;
    justify-content: center;
  }

  #billPlease1IMG{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 2vw;
  }

  #billPlease2IMG{
    width: 100%;
    border-radius: 30px;
  }

  .billPlease-main-container-right{
    margin: 2vw;
    padding: 1vw;

  }

.billPlease_pages  button {
    position: relative;
    color: #0c5f5f;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 3px;
    width:30vw;
    overflow: hidden;
    padding: 5% 10%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: 0.6s ease;
  }
  
.billPlease_pages  button:hover {
    color: #010406;
    background-color: #1BFFFF;
    transition-delay: 0.5s;
    box-shadow: 0 0 10px #2e5c5c, 0 0 40px #2e5c5c, 0 0 80px #2e5c5c;
  }
  
.billPlease_pages  button:hover span:nth-child(1) {
    left: 100%;
  }
  
.billPlease_pages  button:hover span:nth-child(2) {
    top: 100%;
  }
  
.billPlease_pages  button:hover span:nth-child(3) {
    right: 100%;
  }
  
.billPlease_pages  button:hover span:nth-child(4) {
    bottom: 100%;
  }
  
.billPlease_pages  button span {
    display: block;
    position: absolute;
    transition: 0.6s ease;
  }
  
.billPlease_pages  button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #062222);
    transition-delay: 0.25s;
  }
  
.billPlease_pages  button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #062222);
  }
  
.billPlease_pages  button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #062222);
    transition-delay: 0.25s;
  }
  
.billPlease_pages  button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(0, transparent, #062222);
  }

  .exerciseTracker{
    background-image: url('../images/abstract blue backgrounds/pastel blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    width: 100%;
    z-index: -1;
  }

.exetracker-main-container{
  margin-left: 16vw;
  margin-right: 16vw;
}

.exeTracker-pages{
  max-width: 100%;
}
.exerciseTracker .carousel-control-prev-icon{
  background-color: #023047;
  border-radius: 50px;
  margin-right: 20%;
}

.exerciseTracker .carousel-control-next-icon{
  background-color: #023047;
  border-radius: 50px;
  margin-left: 20%;
}


.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: 0px;
  text-align: center;
  cursor: pointer;
  background-color: #023047;
  color: white;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  opacity: 1;
}


/* ----------------------------------------For mobile---------------------------------------- */

@media only screen and (max-width: 768px) {
}

/* ------------------------------------------------------Filter With Animation Mobile---------------------------------------------------- */

@media screen and (max-width: 1439px) {
  .images {
    max-width: 896px;
  }
}
@media screen and (max-width: 986px) {
  .images {
    align-items: center;
    flex-direction: column;
  }
  .images img {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .buttons button {
    width: 100%;
    display: block;
  }
  .images .img-expand,
  .images img {
    width: 100%;
  }
}
